$corDeFundo: rgb(4 7 20);
$corTextoPrincipal: rgb(192 192 192);
$corTextoSecundario: rgb(255, 255, 255);
$corDeFundoBotaoPrimario: rgb(100 33 255);
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000000;
